html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#0f172a;
    color:white;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#020617;
}

.logo{
    color:#38bdf8;
}

nav ul{
    list-style:none;
    display:flex;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
}

/* Hero Section */

.hero{
    text-align:center;
    margin-top:120px;
}

.hero h1{
    font-size:48px;
    color:#38bdf8;
}

.hero p{
    font-size:20px;
}

button{
    margin-top:20px;
    padding:12px 30px;
    border:none;
    background:#38bdf8;
    color:black;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
}

/* Services */

.services{
    margin-top:120px;
    text-align:center;
}

.services h2{
    font-size:36px;
    color:#38bdf8;
}

.service-container{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:40px;
    flex-wrap:wrap;
}

.service-box{
    background:#020617;
    padding:30px;
    border-radius:10px;
    width:220px;
    transition:0.3s;
}

.service-box:hover{
    transform:translateY(-10px);
}

/* Sidebar */

.sidebar{
    position:fixed;
    left:-250px;
    top:0;
    width:250px;
    height:100%;
    background:#020617;
    padding:30px;
    transition:0.3s;
    z-index:1000;
}

.sidebar a{
    display:block;
    margin:20px 0;
    color:white;
    text-decoration:none;
}

.sidebar.active{
    left:0;
}

/* Menu Button */

.menu-toggle{
    position:fixed;
    top:25px;
    left:25px;
    font-size:28px;
    background:none;
    border:none;
    color:white;
    cursor:pointer;
    z-index:1100;
}

/* About */

.about{
    margin-top:120px;
    text-align:center;
    padding:40px;
}

/* Contact */

.contact{
    margin-top:120px;
    text-align:center;
    padding:40px;
}

.contact form{
    display:flex;
    flex-direction:column;
    width:300px;
    margin:auto;
    gap:10px;
}

.contact input,
.contact textarea{
    padding:10px;
    border-radius:5px;
    border:none;
}

/* General section spacing */

section{
    padding:80px 20px;
}

.service-box{
box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

section{
opacity:0;
transform:translateY(40px);
transition:all 0.8s ease;
}

section.show{
opacity:1;
transform:translateY(0);
}


.projects{
text-align:center;
margin-top:120px;
}

.project-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:40px;
}

.project-card{
background:#020617;
padding:25px;
border-radius:10px;
width:240px;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-10px);
}


h2{
    color:#38bdf8;